/* TODO: design your profile with CSS */
body {
	background: #F7F9FC;
  	color: #575F7D;
 	font-family: 'Lora', serif;
  	font-size: 17px;
  	font-weight: lighter;
}

img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

h1 {
	color: #3A86FF;
  	font-size: 32px;
  	font-weight: 900;
	
}

h2 {
	color: #3A86FF;
	font-size: 16px;
	
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}



.btn-blue {
  background-color: #3A86FF;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}